* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: rgb(216, 215, 215);
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 1px 2px black;
  font-size: 16px;
}

.row {
  margin: auto;
  width: 100%;
}

.full {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1 {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 50px;
  -webkit-text-stroke: 1px black;
}

p {
  margin: 10px;
  font-size: 20px;
}

input, select {
  background-color: rgba(255, 255, 255, 0.76);
  height: 25px;
  width: 150px;
  padding: 5px;
  color: black;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  background: rgba(255, 255, 255, 0.753);
  width: 60px;
  height: 30px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border-radius: 8px;
  margin: 10px;
}

.box1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 20px;
}

#gpa, #cgpa {
  font-size: 30px;
  margin: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.sem, .creds, .gpas {
  margin: 5px;
}

.home {
  position: fixed;
  bottom: 20px;
  right: 200px;
}

.box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.grades {
  font-size: 12px;
}